.field {
  width: 100%;
}

.field-container {
  padding: 0.5rem 0;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

::ng-deep {
  .field {
    .p-dropdown {
      width: 100%;
    }
  }
}
